.scrollDown{
    font-size: 5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 /* Box 1 */

.box {
    width:20vh;
    height: 10vh;
    background-color: red;
    justify-self: center;
    opacity: 0;
    margin-right: 50%
}

.visible{
    margin-right: 0;
    opacity: 1;
    transition: 2s ease;
}
/* Box 2 */

.box2 {
    width:20vh;
    height: 10vh;
    background-color: green;
    justify-self: center;
    opacity: 0;
    margin-left: 50%
}


.visible2{
    margin-left: 0;
    opacity: 1;
    transition: 2s ease;
}

/* Box 3 */

.box3 {
    width:20vh;
    height: 10vh;
    background-color: blue;
    justify-self: center;
    opacity: 0;
    margin-right: 50%;
    transform: scale(.3);
}


.visible3 {
    margin-right: 0;
    opacity: 1;
    transform: scale(1);
    transition: 2s ease;
}

/* Box 4 */

.box4 {
    width:20vh;
    height: 10vh;
    background-color: rgb(8, 8, 8);
    justify-self: center;
    opacity: 0;
    margin-top: 0;
    transform: scale(3);
}


.visible4{
    margin-bottom: 20%;
    opacity: 1;
    transform: scale(1);
    transition: 2s ease;
    
}